<!-- 


<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/index.css">
    </head>
    <body>
        <h1>Welcome to the Student Performance Indicator</h1>

        <button onclick="predictMathsMarks()">
            <h2>Click here to predict Maths Marks</h2>
        </button>

        <script>
            function predictMathsMarks() {
                // Redirect to the home.html page
                window.location.href = 'home.html';
            }
        </script>
    </body>
</html>
 -->



 <!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>

    <!-- Navbar -->
    <nav>
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
    </nav>

    <!-- Content Section -->
    <h1>Welcome to the Student Performance Indicator</h1>

    <button onclick="predictMathsMarks()">
        <h2>Click here to predict Maths Marks</h2>
    </button>

    <script>
        function predictMathsMarks() {
            // Redirect to the home.html page
            window.location.href = 'predict.html';
        }
    </script>
</body>
</html>
